+b.product-connected-sl
    +e.__wrap
        +e.__main.swiper.js-swiper-main
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product/product-main.png")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product/product-main.png"
                                alt="img")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product/product-main.png")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product/product-main.png"
                                alt="img2")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product/product-main.png")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product/product-main.png"
                                alt="img3")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product/product-main.png")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product/product-main.png"
                                alt="img4")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product/product-main.png")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product/product-main.png"
                                alt="img5")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product/product-main.png")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product/product-main.png"
                                alt="img")
        +e.__nav.swiper.js-swiper-thumbs
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/product/prew1.png"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/product/prew2.png"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/product/prew3.png"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/product/prew4.png"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/product/prew5.png"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/product/prew1.png"
                            alt="img")
            .swiper-button-prev.th-swiper-button-prev
            .swiper-button-next.th-swiper-button-next